version: "3.9"

services:
  frontend:
    build:
      context: ./front-end-news
      dockerfile: Dockerfile.dev
    container_name: frontend_dev
    ports: 
      - "5173:5173"
    volumes:
      - ./front-end-news:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev -- --host
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: backend_dev
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev
